/* Font stuff */

h1, h2 {
    font-family: "Bungee Tint", "comic sans";
}

h3, h4, a {
    font-family: "Bebas Neue", "comic sans";
}

p, li {
    font-family: "Playfair Display", "comic sans"
}

h1 {
    font-size: 6.75rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4, p, li, a {
    font-size: 1.32rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}