/* Font stuff */

h1, h3, h4, a, p, li, button {
    color: white;
    z-index: 100;
}

h2 {
    font-family: "Bungee Tint", "comic sans";
    text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.505);
}

h1, h3, h4, a, button {
    font-family: "Bebas Neue", "comic sans";
}

p, li {
    font-family: "Playfair Display", "comic sans"
}

h1 {
    font-size: 6.75rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4, p, li, a {
    font-size: 1.32rem;
}

a, button {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

a:hover {
    text-decoration: underline;
}

.red {
    color: red;
}

.large {
    font-size: 160%;
}