#product-section {
    box-sizing: border-box;
    margin: 1rem 2rem;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    scrollbar-color: grey black;
}

#product-image-container {
    display: flex;
    overflow: scroll;
    justify-content: flex-start;
    max-width: 80vw;
    height: 100%;
}

#product-image-container figure {
    width: 40rem;
    height: 70%;
    padding: 1rem;
}

#product-image-container img {
    width: 25rem;
    height: 100%;
    object-fit: cover;
    margin: 1rem;
}

@media screen and (max-width: 900px) {
    #product-section {
        height: 50vh;
    }
    
    #product-image-container img {
        width: 12.5rem;
        height: 70%;
    }

    #product-image-container figure {
        width: 40rem;
        height: 80%;
        padding: 1rem;
    }
}

@media screen and (max-width: 425px) {
    #product-section {
        height: 50vh;
    }
    
    #product-image-container img {
        width: 8rem;
        height: 70%;
    }
}